@charset "utf-8";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#header {
	display: inline-block;
	vertical-align: top;

	width: 100%;
	height:125px;
	background-color: #e5e5e5;
}
#autobap{
	padding-top: 15px;
	font-weight:1000;
	text-align: center;
	font-size: 3em;

}

#blok {
	display: inline-block;
	vertical-align: top;

	width: 100%;
	height: 480px;

}

#footer {
	display: inline-block;
	vertical-align: top;

	width: 100%;
	height:135px;
	background-color: #e5e5e5;
}
#aplogo{
	display: inline-block;
	float: right;
 	padding-top: 22px;
	padding-right: 50px;
}
#email {
	float: left;
	width: 20%;
	padding-top: 35px;
	padding-left: 50px;
	
}
#overzichtbtn {
	float: left;
	
	margin-left: 50px;
}


#infobtn, #repobtn, #overzichtbtn {
background-color: #008dde;
	border: none;
	border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: inherit;
	height: 30px;
	text-transform: uppercase;
	width: 125px;
  -webkit-appearance:none;
  margin-top: 20px;
}



#selectname {
	float: right;
	/*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   height: 29px;
   overflow: hidden;
   width: 240px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #008dde;
   color: #f4f4f4;
   margin-right: 50px;
   margin-top: 10px;
}

#content {
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	width: 96.5%; 
	height: 410px;
	border-radius: 25px;
    border: 2px solid  #008dde;
}

#gegevens {
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	line-height: 200%;
	font-size: 1.5em;
}

#gitgegevens {
	float: right;
	padding-right: 280px;
	padding-top: 132px;
	line-height: 200%;
	font-size: 1.5em;
}

 #circle{
		position: absolute;
    	left: 870px;
    	top: 230px;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: green;
      margin-top: 10px;
    }