		<a href="#overzicht"><input type="submit" value="Overzicht" id="overzichtbtn"></input></a>
		<a href="#repo"><input type="submit" value="repo Student" id="repobtn"></a>

		<select id="selectname">
 			<option value="option1">Florian Pieters</option>
			<option value="option2">Kilian Pauwels</option>
 			<option value="option3">...</option>
		</select>
		<div id="content">
			
			<div id="gegevens">
				<p>Naam: Florian Pieters</p>
				<p>Gsm: 0479568812</p>
				<p>Email: florian.pieters@hotmail.com</p>
				<p>Bachelorproef: Automatiseren Bachelorproef</p>
				<p>Promotor: Tim Dams en Maarten Luyts</p>
				<p>Stage Bedrijf: Cloud communications</p>
			</div>
			<div id="gitgegevens">
				<div id="circle"></div>
				<p>Aantal openstaande issues: 13</p>
				<p>Aantal commits: 14</p>
				<p>Aantal commits sinds laatste login: 3</p>
				<p><a href="https://github.com/FlorianPieters/Automatiseringbab"TARGET="_blank">Link Github</a></p>
			</div>
		</div>