		<a href="#overzicht"><input type="submit" value="Overzicht" id="overzichtbtn"></input></a>
		<a href="#repo/{{student.naam}}"><input type="submit" value="repo Student" id="repobtn"></a>

		<select id="selectname">
 			<option value="option1" ng-repeat="x in userStudenten">{{x.naam}}</option>
		</select>
		<div id="content">
			
			<div id="gegevens">
				<p>Naam: {{student.naam}}</p>
				<p>Gsm: {{student.gsm}}</p>
				<p>Email: {{student.email}}</p>
				<p>Bachelorproef: {{student.bachelorproef}}</p>
				<p>Promotor: {{student.promotor}}</p>
				<p>Stage Bedrijf: {{student.bedrijf}}</p>
			</div>
			<div id="gitgegevens">
				<div id="circle" style="background:{{divColor}}" class="basic" ></div>
				<p>Aantal dagen sinds laatste commit: {{dayDiffrence}}</p>
				<p>Aantal commits: {{commits.length}}</p>
				<p>Aantal openstaande issues: {{issues.length}}</p>				
				<p><a href="https://github.com/{{student.gitUserName}}/{{student.gitRepo}}" TARGET="_blank">Link Repo</a></p>

			</div>
		</div>