		<a href="#overzicht"><input type="submit" value="Overzicht" id="overzichtbtn"></input></a>
		<a href="#repo/{{student.naam}}"><input type="submit" value="repo Student" id="repobtn"></a>

		<select id="selectname">
 			<option value="option1" ng-repeat="x in studenten">{{x.naam}}</option>
		</select>
		<div id="content">
			
			<div id="gegevens">
				<p>Naam: {{student.naam}}</p>
				<p>Gsm: {{student.gsm}}</p>
				<p>Email: {{student.email}}</p>
				<p>Bachelorproef: {{student.bachelorproef}}</p>
				<p>Promotor: {{student.promotor}}</p>
				<p>Stage Bedrijf: {{student.bedrijf}}</p>
			</div>
			<div id="gitgegevens">
				<div id="circle"></div>
				<p>Aantal openstaande issues: 13</p>
				<p>Aantal commits: 14</p>
				<p>Aantal commits sinds laatste login: 3</p>
				<p><a href="{{student.github}}"TARGET="_blank">Link Repo</a></p>
			</div>
		</div>