	<a href="#overzicht"><input type="submit" value="Overzicht" id="overzichtbtn"></a>
		<a href="#info/{{x.naam}}"><input type="submit" value="Info Student" id="infobtn" ></a>

		<select id="selectname">
 			<option value="volvo" ng-repeat="x in data.studenten">{{x.naam}}</option>
		</select>
		<div id="content">
			<div id="reponav">
				<a href="#readme/{{student.naam}}"><input type="submit" value="Read Me" id="alleCommitsbtn"></a>
				<a href="#commits/{{student.naam}}"><input type="submit" value="Alle commits" id="alleCommitsbtn"></a>
				<a href="#issues/{{student.naam}}"><input type="submit" value="Issues" id="issuebtn" ></a>
				<input type="submit" value="scriptie" id="scriptiebtn" onclick="window.location.href='repo.html'" >
				<input type="submit" value="Laatste logentry" id="logbtn" onclick="window.location.href='repo.html'" >
				<input type="submit" value="Add comment" id="commentbtn" onclick="window.location.href='repo.html'" >
				<a href="#addIssues"><input type="submit" value="Add issue" id="addissuebtn"></a>
			</div>
			<div id="repo">
				<h3>{{title}}</h3>
	
				<ul>
				<li ng-repeat="issue in issues">
					<p>title issue: {{issue.title}}</p>
					<p>author issue: {{issue.user.login}}</p>
				</li>
				</ul>
			</div>


		</div>