<div id="overzichttbl">
		<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th><strong>Name </strong></th>
      <th><strong>Bachelorproef</strong></th>
      <th><strong>Laatste stand repo</strong></th>
      <th><strong>Activiteit</strong></th>
    </tr>
  </thead>
  <tbody>
    
    
    <tr ng-repeat="x in userStudenten" >

      <th scope="row">{{x.$id}}</th>
      <td ><a href="#info/{{x.naam}}" >{{x.naam}} </a></td>
      <td> {{x.bachelorproef}}</td>
      <td><a href="url">Laatste stand repo</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div id="activiteit"><div id="circle"></div><div id="circle1"></div><div id="circle2"></div></div>

<div id="upload" >
  <p>Add student to watchlist</p>
  <form name="myForm" ng-submit="ctrl.upload()" class="addStudentForm">
    <table>
      <tr><td><p>Naam:</p></td><td><input type="text" ng-model="ctrl.student.naam"></td></tr>
      <tr><td><p>Bachelorproef:</p></td><td><input type="text" ng-model="ctrl.student.bachelorproef"></td></tr>
      <tr><td><p>Bedrijf:</p></td><td><input type="text" ng-model="ctrl.student.bedrijf"></td></tr>
      <tr><td><p>E-mail:</p></td><td><input type="text" ng-model="ctrl.student.email"></td></tr>
      <tr><td><p>GitUserName:</p></td><td><input type="text" ng-model="ctrl.student.gitUserName"></td></tr>
      <tr><td><p>GitRepo:</p></td><td><input type="text" ng-model="ctrl.student.gitRepo"></td></tr>
      <tr><td><p>gsm:</p></td><td><input type="text" ng-model="ctrl.student.gsm"></td></tr>
      <tr><td><p>Promotor:</p></td><td><input type="text" ng-model="ctrl.student.promotor"></td></tr><br>
      <tr><td></td><td><input type="submit" value="Upload"></td></tr></table>
      </form>
</div>


</div>

 