<div id="overzichttbl">
		<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th><strong>Name </strong></th>
      <th><strong>Bachelorproef</strong></th>
      <th><strong>Issues</strong></th>
      <th><strong>Commits</strong></th>
      <th><strong>Laatste stand repo</strong></th>
      <th><strong>Activiteit</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#info">Florian Pieters </a></td>
      <td> Automatisering</td>
      <td>13</td>
      <td>14</td>
      <td><a href="url">Laatste stand repo</a></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="#info">Kilian Pauwels</a> </td>
      <td> Automatisering</td>
      <td>10</td>
      <td>14</td>
      <td><a href="url">Laatste stand repo</a></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="info.html">...</a> </td>
      <td>...</td>
      <td>10</td>
      <td>20</td>
      <td><a href="url">Laatste stand repo</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div id="activiteit"><div id="circle"></div><div id="circle1"></div><div id="circle2"></div></div>
</div>
	</div> 