	<a href="#overzicht"><input type="submit" value="Overzicht" id="overzichtbtn"></a>
		<a href="#info/{{x.naam}}"><input type="submit" value="Info Student" id="infobtn" ></a>

		<select id="selectname">
 			<option value="volvo" ng-repeat="x in data.studenten">{{x.naam}}</option>
		</select>
		<div id="content">
			<div id="reponav">
				<a href="#readme/{{student.naam}}"><input type="submit" value="Read Me" id="alleCommitsbtn"></a>
				<a href="#commits/{{student.naam}}"><input type="submit" value="Alle commits" id="alleCommitsbtn"></a>
				<a href="#issues/{{student.naam}}"><input type="submit" value="Issues" id="issuebtn" ></a>
				<input type="submit" value="scriptie" id="scriptiebtn" onclick="window.location.href='repo.html'" >
				<input type="submit" value="Laatste logentry" id="logbtn" onclick="window.location.href='repo.html'" >
				<a href="#lastCommit/{{student.naam}}"><input type="submit" value="Laaste commit" id="commentbtn"  ></a>
				<a href="#addIssues"><input type="submit" value="Add issue" id="addissuebtn"></a>
			</div>
			<div id="repo">
				<p id="repotext">Hier komen de issues, commits of scripties of laatste log entry</p>
			</div>


		</div>